---
import Layout from '../layouts/Layout.astro';
import ButtonSimple from '../components/ButtonSimple.astro';
---

<Layout title="Kevin Yablonkis - Porfolio">
	<section class="h-screen flex flex-row items-center justify-center">
		<div>
			<div></div>
			<img src="" alt="">
		</div>
		<div class="flex flex-col gap-5">
			<div>
				<span class="kanit-bold text-4xl">Hola</span>
				<h1 class="kanit-light text-3xl">Soy <span class="kanit-bold text-5xl px-2" style="text-shadow: -4px -4px 10px #2719CE, 4px 4px 10px #8442EF;">Kevin Yablonkis</span></h1>
			</div>
			<div>
				<h2 class="kanit-bold text-4xl">DESARROLADOR WEB</h2>
				<span class="kanit-extralight text-3xl">Full-Stack</span>
			</div>
			<div></div>
		</div>
	</section>
	<section class="h-screen flex flex-col items-center justify-center"id="proyects">
		<h2 class="kanit-extrabold text-5xl" style="text-shadow: 1px 1px 2px #57A564, 0 0 1em #57A564, 0 0 0.2em #57A564;">PROYECTS</h2>
		<div class="flex flex-col gap-20 my-14">
			<div class="flex flex-row gap-5">
				<div>
					<div class="bg-slate-600"></div>
					<div class="bg-slate-800"></div>
				</div>
				<div>
					<h3>UNEFA WMS</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, expedita praesentium sapiente consequuntur placeat dignissimos facere necessitatibus eos ipsum voluptates, accusamus commodi animi, deserunt veritatis. Voluptas debitis saepe modi? Rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, aliquid recusandae. Distinctio inventore soluta atque dolorem nemo magni excepturi? Dolore sunt adipisci dolores aliquam! Magnam impedit saepe sed accusamus labore.</p>
					<a href="">
						<ButtonSimple>
							<svg width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>
    						<span class="font-bold">
    						    Ver Repo
    						</span>
						</ButtonSimple>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="h-screen flex flex-row items-center justify-center" id="skills">
		<h2 class="kanit-extrabold text-5xl" style="text-shadow: 1px 1px 2px #3897B5, 0 0 1em #3897B5, 0 0 0.2em #3897B5;">SKILLS</h2>
	</section>
	<section class="h-screen flex flex-row items-center justify-center"id="about_me">
		<h2 class="kanit-extrabold text-5xl" style="text-shadow: 1px 1px 2px #97A158, 0 0 1em #97A158, 0 0 0.2em #97A158;">ABOUT ME</h2>
	</section>
</Layout>