---
import Layout from '../layouts/Layout.astro';
import ButtonSimple from '../components/ButtonSimple.astro';
---

<Layout title="Kevin Yablonkis - Porfolio">
	<section class="h-screen flex flex-row items-center justify-center">
		<div>
			<div></div>
			<img src="" alt="">
		</div>
		<div class="flex flex-col gap-5">
			<div>
				<span class="kanit-bold text-4xl">Hola</span>
				<h1 class="kanit-light text-3xl">Soy <span class="kanit-bold text-5xl px-2" style="text-shadow: -4px -4px 10px #2719CE, 4px 4px 10px #8442EF;">Kevin Yablonkis</span></h1>
			</div>
			<div>
				<h2 class="kanit-bold text-4xl">DESARROLADOR WEB</h2>
				<span class="kanit-extralight text-3xl">Full-Stack</span>
			</div>
			<div></div>
		</div>
	</section>
	<section class="h-screen flex flex-col items-center justify-center"id="proyects">
		<h2 class="kanit-extrabold text-5xl" style="text-shadow: 1px 1px 2px #57A564, 0 0 1em #57A564, 0 0 0.2em #57A564;">PROYECTS</h2>
		<div class="flex flex-col gap-20 my-14">
			<div class="flex flex-row gap-5">
				<div>
					<div class="bg-slate-600"></div>
					<div class="bg-slate-800"></div>
				</div>
				<div>
					<h3>UNEFA WMS</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, expedita praesentium sapiente consequuntur placeat dignissimos facere necessitatibus eos ipsum voluptates, accusamus commodi animi, deserunt veritatis. Voluptas debitis saepe modi? Rerum.</p>
					<a href="">
						<ButtonSimple content="Ver Repo" />
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="h-screen flex flex-row items-center justify-center" id="skills">
		<h2 class="kanit-extrabold text-5xl" style="text-shadow: 1px 1px 2px #3897B5, 0 0 1em #3897B5, 0 0 0.2em #3897B5;">SKILLS</h2>
	</section>
	<section class="h-screen flex flex-row items-center justify-center"id="about_me">
		<h2 class="kanit-extrabold text-5xl" style="text-shadow: 1px 1px 2px #97A158, 0 0 1em #97A158, 0 0 0.2em #97A158;">ABOUT ME</h2>
		<!-- text-shadow: 1px 1px 2px #57A564, 0 0 1em #57A564, 0 0 0.2em #57A564; -->
		<!-- text-shadow: #57A564 1px 0 10px; -->
	</section>
</Layout>