---
import ButtonIcon from '../components/ButtonIcon.astro'
---

<footer class="flex flex-row items-center justify-between p-5 z-20" style="margin: 0 220px;">
    <span class="inria-sans-bold">2024<span class="inria-sans-light">. Realizado Por </span>Kevin Yablonkis.</span>
    <div class="flex flex-row gap-5">
        <a href="">
            <ButtonIcon content="Ho" />
        </a>
        <a href="">
            <ButtonIcon content="Ho" />
        </a>
        <a href="">
            <ButtonIcon content="Ho" />
        </a>
    </div>
</footer>