---
import ButtonInstagramSimple from './ButtonInstagramSimple.astro'
import ButtonLinkedinSimple from './ButtonLinkedinSimple.astro'
import ButtonGithubSimple from './ButtonGithubSimple.astro'

const { Content } = Astro.props;

---

<footer class="flex sm:flex-row flex-col-reverse items-center justify-between p-5 gap-5 sm:mt-0 mt-10 sm:mb-0 sm:ml-[220px] ml-5 sm:mr-[220px] mr-5 z-20">
    <span class="inria-sans-bold">2024<span class="inria-sans-light">. {Content} </span>Kevin Yablonkis.</span>
    <div class="flex flex-row gap-5">
        <a href="https://www.instagram.com/kevinyablonkis/" target="_blank">
            <ButtonInstagramSimple />
        </a>
        <a href="https://www.linkedin.com/in/kevin-yablonkis-7253012a7/" target="_blank">
            <ButtonLinkedinSimple />
        </a>
        <a href="https://github.com/kevinyablonkis" target="_blank">
            <ButtonGithubSimple />
        </a>
    </div>
</footer>