---
import ButtonMode from './ButtonMode.astro'
import ButtonLanguage from './ButtonLanguage.astro'
---

<header class="fixed top-0 left-0 p-5 z-20">
    <nav class="flex flex-row items-center justify-center gap-5">
        <!-- <ButtonMode>
            <svg width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-moon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
        </ButtonMode> -->
        <ul class="flex flex-row gap-5">
            <li class="inria-sans-bold"><a href="#proyects">Proyects</a></li>
            <li class="inria-sans-bold"><a href="#skills">Skills</a></li>
            <li class="inria-sans-bold"><a href="#about_me">About Me</a></li>
        </ul>
        <ButtonLanguage>
            <svg width="22"  height="22"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-language"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 5h7" /><path d="M9 3v2c0 4.418 -2.239 8 -5 8" /><path d="M5 9c0 2.144 2.952 3.908 6.7 4" /><path d="M12 20l4 -9l4 9" /><path d="M19.1 18h-6.2" /></svg>
        </ButtonLanguage>
    </nav>
</header>