---
const { Img1, Img2, Img3, Img4 } = Astro.props
---

<div class="div">
  <!-- Swiper -->
  <div class="swiper mySwiper sm:w-[330px] w-[250px]">
    <div class="swiper-wrapper p-3">
      <div class="swiper-slide">
        <img class="imagen1" src=`./assets/img/${ Img1 }` alt=`${ Img1 }` loading="lazy"/>
      </div>
      <div class="swiper-slide">
        <img class="imagen1" src=`./assets/img/${ Img2 }` alt=`${ Img2 }` loading="lazy"/>
      </div>
      <div class="swiper-slide">
        <img class="imagen1" src=`./assets/img/${ Img3 }` alt=`${ Img3 }` loading="lazy"/>
      </div>
      <div class="swiper-slide">
        <img class="imagen1" src=`./assets/img/${ Img4 }` alt=`${ Img4 }` loading="lazy"/>
      </div>
    </div>
  </div>
</div>

<style>
  .div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 90px;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0 3px;
  }

  .swiper {
    height: auto;
    margin: 10px 0;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    filter: grayscale(60%);
    transition: 0.3s ease;
    user-select: none;
  }

  .swiper-slide img:hover {
    filter: grayscale(0%);
    transform: scale(105%);
  }
</style>

<!-- Initialize Swiper -->
<script>
  import type { string } from 'astro/zod';
import type { Image } from 'astro:assets';
import Swiper from 'swiper'

    var swiper = new Swiper('.mySwiper', {
      slidesPerView: 2.5,
      spaceBetween: 10,
    });

    function cambiarImagen(imagen: HTMLImageElement, imagen2: HTMLImageElement, nuevaFuente?: string) {
      const pathOrigen: string = imagen.src;
      if (nuevaFuente) {
        imagen.src = nuevaFuente;
      } else {
        imagen2.src = pathOrigen;
      }
    }

    const imagenes: NodeListOf<HTMLImageElement> = document.querySelectorAll('.imagen1');
    const imagenes2: NodeListOf<HTMLImageElement> = document.querySelectorAll('.imagen2');

    imagenes.forEach((imagen) => {
      imagenes2.forEach((imagen2) => {
        imagen.addEventListener('click', (event: MouseEvent) => {
          cambiarImagen(imagen, imagen2);
        });
      });
    });


</script>