---
const { XAxis, YAxis, color } = Astro.props
---
<div class="absolute" style=`transform: translate(${XAxis}px, ${YAxis}px);`>
    <div class="relative flex items-center justify-center">
        <div class="absolute z-0 size-9 blur-md" style=`background-color: #${ color };`>
        </div>
        <slot />
    </div>
</div>